@model IEnumerable<MvcContacts.Models.RestaurantViewModel>

@foreach (var item in Model)
{
  <p>@item.Id</p>
  <p>@item.Name</p>
  <p>@item.RestaurantClass</p>
  <p>@item.Street</p>
  <p>@item.Place</p>
  

}